body {
  background-color: black;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 50px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

div.heading {
  text-align: center;
  font-family: Verdana;
}

video {
  display: block;
  margin: 0 auto;
}

p {
  text-align: center;
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}
